li {
  list-style-type: none;
  display: flex;
  margin-top: 50px;
  cursor: pointer;
}

figure {
  margin: 0px;
}

img {
  width: 220px;
}

time {
  font-size: 1.3rem;
}

header {
  display: flex;
  align-items: flex-end;
  height: 22%;
  background: #116193;
}

h2 {
  color: #02d9db;
  margin: 0px;
  margin-left: 6.2rem;
}

section {
  width: 100%;
}

.container-overview {
  height: 78%;
  background: #ebebeb;
  padding-left: 20px;
  padding-right: 20px;
}

time {
  color: #c1c1c1;
}

.container-overview time {
  margin-left: 5rem;
}

.vote-average {
  transform: translateY(50%);
  margin-left: 15px;
  position: absolute;
}

@media only screen and (max-device-width: 999px) {
  li {
    flex-direction: column;
    align-items: center;
  }

  section {
    width: 100%;
  }
}

@media only screen and (max-device-width: 600px) {
  section {
    width: 100%;
  }
}

@media only screen and (max-device-width: 544px) {
  li {
    flex-direction: column;
    align-items: center;
  }

  section {
    width: 80vw;
  }
}
