<li (click)="detailMovie()">
  <img *ngIf="poster_path != null" src="{{imgFigure}}" alt="imagem-card">
  <section>
    <header>
      <div class="vote-average">
        <app-vote-average [voteAverage]="vote_average"></app-vote-average>
      </div>
      <h2>{{title}}</h2>
    </header>
    <div class="container-overview">
      <time datetime="05-03-2021">{{release_date | date: 'd/M/yy'}}</time>
      <p>{{overview}}</p>
      <app-genres [listGenres]="genres"></app-genres>
    </div>
  </section>
</li>
