<main>
  <nav>
    <div class="container-input">
      <app-search (newEventSearch)="searchMovies($event)"></app-search>
    </div>
    <ul>
      <app-card-movie *ngFor="let movie of moviesPaginate[index]"
        [id]="movie.id"
        [title]="movie.title"
        [release_date]="movie.release_date"
        [vote_average]="movie.vote_average"
        [poster_path]="movie.poster_path"
        [overview]="movie.overview"
        [genres]="movie.genre_ids"
      ></app-card-movie>
    </ul>
    <footer>
      <app-paginate (indexPaginate)="indexArrayPaginate($event)"></app-paginate>
    </footer>
  </nav>
</main>


